body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

.clock {
    position: relative;
    width: 200px;
    height: 200px;
    border: 10px solid rgb(255, 174, 0);
    border-radius: 50%;
}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    background: rgb(0, 95, 51);
    transform-origin: bottom;
}

.hour-hand {
    height: 50px;
    width: 6px;
    animation: rotateHour 120s linear infinite; /* Анимация для часовой стрелки */
}

.minute-hand {
    height: 70px;
    width: 4px;
    animation: rotateMinute 12s linear infinite; /* Анимация для минутной стрелки */
}

.second-hand {
    height: 90px;
    width: 2px;
    background: rgb(0, 195, 255);
    animation: rotateSecond 0.3s linear infinite; /* Анимация для секундной стрелки */
}

@keyframes rotateHour {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateMinute {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateSecond {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
